#all .svg {
    width: 80%;
    position: relative;
    top: 30px;
    z-index: -1;
}

#all .row {
    position: relative;
    height: 600px;
    display: flex;
    gap: 20px;
}

#all .container {
    overflow-x: hidden;
    position: absolute;
}

#all .bottom {
    display: flex;
    gap: 136px;
    align-items: flex-start;
}

#all .bottom div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}
