#bform .container {
    background-color: white;
    padding: 70px;
    border-radius: 10px;
    position: relative;
}

#bform h2 {
    color: var(--7, #1C1C29);
    font-style: normal;
    font-weight: 400;
    line-height: 109%;
    letter-spacing: -0.8px;
}

#bform p {
    color: var(--7, #1C1C29);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
}

#bform form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

#bform input {
    max-width: 100%;
    min-width: 60%;
    padding: 15px 20px 13px 20px;
    border-radius: 10px;
    border: 1px solid #888;
    background: var(--6, #FFF);
    color: #888;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    outline: none;
    font-size: 0.8em;
}

#bform button {
    align-self: flex-start;
    border-radius: 10px;
    background: var(--1, #473886);
    padding: 15px 20px 13px 20px;
    color: var(--6, #FFF);
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
    border: none;
}

#bform .img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}

#bform .error {
    position: absolute;
    height: 11px;
    color: rgb(255, 119, 119);
    font-size: 11px;
    opacity: 0;
    transition: 0.5s;
}

#bform .error.active {
    opacity: 1;
}