#school {
    padding: 0;
}

#school img {
    width: 100%;
}

#school .text {
    margin-left: 20%;
    width: 40%;
    padding: 80px 0 50px;
}

#school h2 {
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    #school .text {
        margin-left: 0;
        width: 100%;
        padding: 80px 20px;
        text-align: center;
    }
}