#field {
    background-color: white;
}

#field .inner {
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    gap: 80px;
}

#field .left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 60%;
    row-gap: 30px;
}

#field .right {
    /* width: calc(35% - 80px); */
    /* width: 500px; */
}

#field .left img:first-child {
    width: 24%;
}

#field .left img:last-child {
    width: calc(76% - 30px);
}

#field h2 {
    color: var(--1, #473886);
    font-style: normal;
    font-weight: 600;
    line-height: 109%;
    letter-spacing: -0.8px;
    padding-bottom: 30px;
}

#field p {
    color: var(--7, #1C1C29);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
}

@media screen and (max-width: 1240px) {
    #field .left {
        min-width: 55%;
    }
}

@media screen and (max-width: 1179px) {
    #field .left {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 100%;
        min-width: 50%;
    }
    #field .left img:last-child {
        width: 100%;
    }
    #field .left img:first-child {
        width: 30%;
        display: none;
    }
    #field .inner {
        gap: 40px;
    }
}

@media screen and (max-width: 895px) {
    #field .left {
        /* min-width: 60%; */
    }
}

@media screen and (max-width: 768px) {
    #field .inner {
        flex-direction: column;
    }
    #field .right * {
        text-align: center;
    }
}