#advantages {
    background-color: white;
}

#advantages .inner {
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    gap: 80px;
}

#advantages .left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 60%;
    row-gap: 30px;
}

#advantages .left img:first-child {
    width: 24%;
}

#advantages .left img:last-child {
    width: calc(76% - 30px);
}

#advantages h2 {
    color: var(--1, #473886);
    font-style: normal;
    font-weight: 600;
    line-height: 109%;
    letter-spacing: -0.8px;
    padding-bottom: 30px;
}

#advantages p {
    color: var(--7, #1C1C29);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
}

@media screen and (max-width: 1240px) {
    #advantages .left {
        min-width: 55%;
    }
}

@media screen and (max-width: 1179px) {
    #advantages .left {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 100%;
        min-width: 50%;
    }
    #advantages .left img:last-child {
        width: 100%;
    }
    #advantages .left img:first-child {
        width: 30%;
        display: none;
    }
    #advantages .inner {
        gap: 40px;
    }
}

@media screen and (max-width: 768px) {
    #advantages .inner {
        flex-direction: column;
    }
    #advantages .right * {
        text-align: center;
    }
}