body {
    overflow-x: hidden;
    /* overflow-y: scroll; */
    background-color: #473886;
}

main {
    height: 0;
}

.viewport {
    /* overflow: hidden; */
    /* position: fixed; */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#scroll-container {
    /* position: absolute; */
    /* overflow: hidden; */
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

body::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #59c5c7;
    border-radius: 10px;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}