#sticky .con {
    /* border: 1px solid red; */
    position: relative;
    /* height: 2000px; */
}

#sticky .card {
    display: flex;
    top: 10px;
    align-items: flex-start;
    justify-content: space-between;
    /* position: sticky; */
    /* height: 500px; */
}

#sticky .card:nth-child(1) {
    z-index: 1;
}

#sticky .card:nth-child(2) {
    z-index: 2;
}

#sticky .card:nth-child(3) {
    z-index: 3;
}

#sticky img {
    border-radius: 12px;
    width: calc(50% - 30px);
}

#sticky .text {
    width: 50%;
}

/* #sticky .stacked-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 400px;
}

#sticky .card {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: transform 0.3s;
} */